# Parametros que no pueden cambiarse de github pages
lsi: false
safe: true
source: https://fideo.github.io/jekyll-fideo/
incremental: false
gist:
  noscript: false

# Site settings
title: Fideo - Federico Mazzei # site title
description: >- # site description
  Soy desarrollador web; ayudo a empresas a tener un mejor planeamiento sobre internet 
  Podes encontrar mas información sobre mi en las redes sociales pero te dejo el link a <a href="https://github.com/fideo" target="_blank" rel="noopener">@github</a>.
lang: es-ES # default lang
timezone: America/Buenos_Aires # set your timezone
image: assets/img/ogp.png # This image used for Open Graph more info https://ogp.me/
repo: https://github.com/fideo/jekyll-fideo # site repo [optional]
mode: dark # default theme "dark" | "light"

# Profile settings
author:
  name: Fideo - Federico Mazzei # author name
  bio: >- # tell to the world
    Soy desarrollador web, freelancer, emprendedor, nadador, papá y muchas cosas mas <a href="https://github.com/fideo" target="_blank" rel="noopener">@github/fideo</a>.
  username: fideo # general username
  github: fideo # github username
  twitter: fideox # twitter username
  facebook: mazzeifederico # facebook username
  email: federicomazzei@email.com # email adress
  avatar: /assets/img/avatar.jpg # change with your own avatar

# URL settings
url: https://fideo.github.io/jekyll-fideo/ #
baseurl:
permalink: /:title/
google_analytics: # leave it blank if not wish
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: false
      output: true

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Homepage limit posts
number_of_posts: 5

# Build settings
theme: klise
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - klise-*.gem
  - klise.gemspec

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
